:root {
    --color-main: #EBEAD6;

    --color-bowen: #59B12C;
    --color-bowen-active: #438722;
    --color-bowen-hover: #4d9b27;

    --color-head-massage: #C82826;

    --color-metamorf-old: #ffd500;
    --color-metamorf-v2: #f5ba36;
    --color-metamorf: #f3b52d;

    --color-shiatsu: #4A11BB;

    --color-neutral: #004aad;
    --color-bg: #E6E5E5;
    --color-card: #ffffff;
    
    --color-palegreen: #6A876F;
    --color-palegreen-active: #405242;
    --color-palegreen-hover: #739679;

    --color-sand: #F1EDDC;

    --color-chrono: #988A5B;
    --color-chrono-active: #665534;
    --color-chrono-hover: #9E8F5F;

    --header-height: 7.2rem;
}

html, body {
    background-color: var(--color-main);
    height: 100%;
    margin: 0;
}

.quint {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
  }

.primary-color {
    color:var(--color-palegreen) !important;
}

.secondary-color {
    color:var(--color-head-massage);
}

.neutral {
    color: var(--color-neutral) !important;
}

.bg-neutral {
    background-color: var(--color-neutral) !important;
    color: var(--color-card) !important;
}

.palegreen {
    color: var(--color-palegreen) !important;
}

.bg-palegreen {
    background-color: var(--color-palegreen) !important;
    color: var(--color-card) !important;
}

.border-palegreen {
    border-color: var(--color-palegreen);
}

.chrono {
    color: var(--color-chrono) !important;
}

.bg-chrono {
    background-color: var(--color-chrono) !important;
    color: var(--color-card) !important;
}

.border-chrono {
    border-color: var(--color-chrono);
}

.bowen {
    color: var(--color-bowen) !important;
}

.bg-bowen {
    background-color: var(--color-bowen) !important;
    color: var(--color-card) !important;
}

.border-bowen {
    border-color: var(--color-bowen);
}

.head-massage {
    color: var(--color-head-massage) !important;
}

.bg-head-massage {
    background-color: var(--color-head-massage) !important;
    color: var(--color-card) !important;
}

.border-head-massage {
    border-color: var(--color-head-massage);
}

.metamorf {
    color: var(--color-metamorf) !important;
}

.bg-metamorf {
    background-color: var(--color-metamorf) !important;
    color: var(--color-card) !important;
}

.border-metamorf {
    border-color: var(--color-metamorf);
}

.shiatsu {
    color: var(--color-shiatsu) !important;
}

.bg-shiatsu {
    background-color: var(--color-shiatsu) !important;
    color: var(--color-card) !important;
}

.border-shiatsu {
    border-color: var(--color-shiatsu);
}

a {
    font-weight: 500;
    text-underline-offset: 0.15rem;
    text-decoration-thickness: 0.05rem;
}

#footer {
    max-width: 100%;
    border-radius: 0;
    background-color: var(--color-card);
    position: relative;
    z-index: 10000;
}

.footer-icon-holder {
    text-decoration: none;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.footer-icon {
    font-size: x-large;
}

.main {
    margin-top: calc(var(--header-height) - 1rem);
    z-index: 5;
    position: relative;
    min-height: calc(100% - var(--header-height));
}

#header {
    max-width: 100%;
    border-radius: 0;
    background-color: var(--color-card);
    z-index: 20;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    left: 0;
}

#sidebar {
    background-color: var(--color-card);
    z-index: 5;
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1), 0 .125em .5em rgba(0, 0, 0, .15);
}

#sidebar>ul {
    position: sticky;
    position: -webkit-sticky;
    top: var(--header-height);
}

.hero {
    color:var(--color-head-massage);
    background-color: var(--color-card);
}

.hero h1 {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
    color:var(--color-palegreen) !important;
}

.hero .lead {
    font-weight: 500;
}

.box-shadow {
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1), 0 .125em .5em rgba(0, 0, 0, .15);
}

.btn {
    background-color: var(--color-palegreen);
    border-color: var(--color-palegreen);
}

.btn:disabled {
    background-color: var(--color-palegreen);
    border-color: var(--color-palegreen);
}

.btn:active{
    background-color: var(--color-palegreen-active) !important;
    border-color: var(--color-palegreen-active) !important;
}

.btn:hover{
    background-color: var(--color-palegreen-hover);
    border-color: var(--color-palegreen-hover);
}

.container-wide {
    background-color: var(--color-card);
    max-width: 100%;
    z-index: 5;
}

.features h1 {
    font-family: "Quintessential", serif;
    font-weight: 800;
    font-style: normal;
}

.features h3 {
    font-family: "Quintessential", serif;
    font-weight: 600;
    font-style: normal;
}

.feature-icon {
    object-fit: contain;
    width: 100px;
    height: 100px;
    padding: 5px;
}

.icon-link {
    text-decoration: underline;
}

.icon-link i {
    margin-bottom: 0.5rem;
}

.nav-link {
    color: var(--color-palegreen) !important;
    font-size: 1rem;
    padding: 0.25rem 1rem;
}

.nav-link:hover {
    background-color: var(--color-palegreen) !important;
    color: var(--color-card) !important;
}

.nav-link:active {
    background-color: var(--color-palegreen-active) !important;
    color: var(--color-card) !important;
}

.nav hr {
    margin: 0.25rem 0;
}

.menu-button, .menu-button:active, .menu-button:hover {
    border-color: var(--color-palegreen);
    background-color: var(--color-card);
    color: var(--color-palegreen);
}

.round-img {
    border-radius: 50%;
    background-color: white;
}

.hr {
    opacity: .75;
    size: 0.5px;
}

.card.fit-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-body > .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body .border-bowen, .border-palegreen, .card-body .border-head-massage, .card-body .border-metamorf, .border-shiatsu {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.card > a {
    text-decoration: none;
}

.thanks {
    z-index: 0;
}

.contact-icon {
    color: var(--color-palegreen);
    padding: 10px;
}

.phone::before {
    content: "+36-30-";
}

.phone, .email, .address {
    color: var(--color-neutral);
}

.phone::after {
    content: "-7330";
}

.email::before {
    content: "egeszseg.energia.egyensuly";
}

.email::after {
    content: "gmail.com";
}

.address::before {
    content: "6758 Röszke, ";
}

.address::after {
    content: " 109.";
}

.notice {
    font-size: 0.75rem;
}

.no-scroll-main {
    position: fixed;
    width: 100%;
}

.fixed-footer {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
}

.card-body {
    padding: 0.5rem;
}

.card-header h4{
    font-size: 1.25rem !important;
}

.pricing-card-prices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    height: 4.5rem;
}

.pricing-card-details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 3.5rem;
}

.pricing-card-title {
    font-size: 1.5rem !important;
}

h2.pricing-card-title {
    font-size: 1.3rem !important;
    font-weight: lighter !important;
}

.social-media {
    color: var(--color-neutral);
}

#carouselTreatments {
    min-height: 250px;
}

.carousel-item {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-indicators {
    bottom: 25px;
    margin-bottom: 0;
}

.header-image{
    width: 64px;
    height: 64px;
}

@media only screen and (max-width: 400px) {
    .header-image{
        width: 36px;
        height: 36px;
    }

    .menu-button{
        height: 32px;
        width: 32px;
        align-items: center;
        justify-content: center;
    }

    #carouselTreatments {
        min-height: 17rem;
    }
}

@media only screen and (max-width: 350px) {
    #carouselTreatments {
        min-height: 20rem;
    }
}