:root {
    --color-bowen: #59B12C;
    --color-bowen-active: #438722;
    --color-bowen-hover: #4d9b27;
    --color-head-massage: #C82826;
    --color-metamorf: #ffd500;
    --color-metamorf-v2: #f5ba36;
    --color-metamorf-v3: #f3b52d;
    --color-neutral: #004aad;
    --color-bg: #E6E5E5;
    --color-card: #ffffff;
}

html, body {
    background-color: var(--color-bg);
    height: 100%;
    margin: 0;
}

.quint {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
  }

.primary-color {
    color:var(--color-bowen) !important;
}

.secondary-color {
    color:var(--color-head-massage);
}

.neutral {
    color: var(--color-neutral) !important;
}

.bg-neutral {
    background-color: var(--color-neutral) !important;
    color: var(--color-card) !important;
}

.bowen {
    color: var(--color-bowen) !important;
}

.bg-bowen {
    background-color: var(--color-bowen) !important;
    color: var(--color-card) !important;
}

.border-bowen {
    border-color: var(--color-bowen);
}

.head-massage {
    color: var(--color-head-massage) !important;
}

.bg-head-massage {
    background-color: var(--color-head-massage) !important;
    color: var(--color-card) !important;
}

.bg-head-massage-bowen {
    background: linear-gradient(105deg, var(--color-head-massage) 0%, var(--color-head-massage) 50%, var(--color-bowen) 50%, var(--color-bowen) 100%) !important;
    color: var(--color-card);
}

.border-head-massage {
    border-color: var(--color-head-massage);
}

.border-head-massage-bowen {
    border: linear-gradient(105deg, var(--color-head-massage) 0%, var(--color-head-massage) 50%, var(--color-bowen) 50%, var(--color-bowen) 100%) !important;
}

.metamorf {
    color: var(--color-metamorf) !important;
}

.bg-metamorf {
    background-color: var(--color-metamorf) !important;
    color: var(--color-card) !important;
}

.bg-metamorf-bowen {
    background: linear-gradient(105deg, var(--color-metamorf) 0%, var(--color-metamorf) 50%, var(--color-bowen) 50%, var(--color-bowen) 100%) !important;
    color: var(--color-card);
}

.border-metamorf {
    border-color: var(--color-metamorf);
}

.border-metamorf-bowen {
    border: linear-gradient(105deg, var(--color-metamorf) 0%, var(--color-metamorf) 50%, var(--color-bowen) 50%, var(--color-bowen) 100%) !important;
}

.header {
    max-width: 100%;
    border-radius: 0;
    background-color: var(--color-card);
    z-index: 20;
}

.footer {
    max-width: 100%;
    border-radius: 0;
    background-color: var(--color-card);
    position: relative;
    z-index: 10000;
}

.footer-icon {
    font-size: x-large;
}

.main {
    z-index: 5;
    position: relative;
    min-height: calc(100% - 7.2rem);
}

.sidebar {
    background-color: var(--color-card);
    z-index: 5;
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1), 0 .125em .5em rgba(0, 0, 0, .15);
}

.hero {
    color:var(--color-head-massage);
    background-color: var(--color-card);
}

.hero h1 {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
    color:var(--color-bowen) !important;
}

.hero .lead {
    font-weight: 500;
}

.box-shadow {
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1), 0 .125em .5em rgba(0, 0, 0, .15);
}

.btn {
    background-color: var(--color-bowen);
    border-color: var(--color-bowen);
}

.btn:disabled {
    background-color: var(--color-bowen);
    border-color: var(--color-bowen);
}

.btn:active{
    background-color: var(--color-bowen-active) !important;
    border-color: var(--color-bowen-active) !important;
}

.btn:hover{
    background-color: var(--color-bowen-hover);
    border-color: var(--color-bowen-hover);
}

.container-wide {
    background-color: var(--color-card);
    max-width: 100%;
    z-index: 5;
}

.features h1 {
    font-family: "Quintessential", serif;
    font-weight: 800;
    font-style: normal;
}

.features h3 {
    font-family: "Quintessential", serif;
    font-weight: 600;
    font-style: normal;
}

.feature-icon {
    object-fit: contain;
    width: 100px;
    height: 100px;
    padding: 5px;
}

.icon-link {
    text-decoration: underline;
}

.icon-link i {
    margin-bottom: 0.5rem;
}

.nav-link {
    color: var(--color-bowen) !important;
    font-size: 1rem;
    padding: 0.25rem 1rem;
}

.nav-link:hover {
    background-color: var(--color-bowen) !important;
    color: var(--color-card) !important;
}

.nav hr {
    margin: 0.25rem 0;
}

.menu-button, .menu-button:active, .menu-button:hover {
    border-color: var(--color-bowen);
    background-color: var(--color-card);
    color: var(--color-bowen);
}

#header {
    position: sticky;
    position: -webkit-sticky;
    top:0;
}

#sidebar>ul {
    position: sticky;
    position: -webkit-sticky;
    top: 7.2rem;
}

.round-img {
    border-radius: 50%;
}

.hr {
    opacity: .75;
    size: 0.5px;
}

.card.fit-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-body > .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body .border-bowen, .card-body .border-head-massage, .card-body .border-metamorf {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.card > a {
    text-decoration: none;
}

.thanks {
    z-index: 0;
}

.contact-icon {
    color: var(--color-bowen);
    padding: 10px;
}

.phone::before {
    content: "+36-30-";
}

.phone, .email, .address {
    text-decoration: none;
    color: black;
}

.phone::after {
    content: "-7330";
}

.email::before {
    content: "bowenegyensuly";
}

.email::after {
    content: "gmail.com";
}

.address::before {
    content: "6758 Röszke, ";
}

.address::after {
    content: " 109.";
}